
.texto{
    background-color: white;
    border-color: blue;
}
input.boton3{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: orange;
    border-radius: 6px;
    border: none;
}
.boton1{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: green;
    border-radius: 6px;
    border: none;
}
.texto2{
    background-color: white;
    border-color: green;
}
div.titulo{
    text-align: center;
}
div.form{
    margin-left: 50px;
}
form{
    text-align: center;
}
h1{
    text-align: center;
}